<!-- templates/user_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Users List</title>
</head>
<body>
    <h2>Online Users List</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>IP adress</th>
            <th>Login in date</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.ipaddress }}</td>
                <td>{{ user.logindatetime }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
